<!DOCTYPE html>
<html>
<head>
    <title>User Credentials</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid rgba(107, 108, 110, 0.75);
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: rgba(85, 96, 153, 0.33);
        }
        .input-box {
            width: 80%;
            padding: 10px 10px;

        }
        #input{
            border:none;
        }
        #update{
        /*position: absolute;*/
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h2>User Credentials</h2>
<h4>Change Your Password</h4>
<form action="/update2" method="POST">
    <table>
        <thead>
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Username:</td>
            <td><input type="text" class="input-box" name="username" value="{{credentials.username}}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input id="input" type="email" class="input-box" name="email" value="{{credentials.email}}" readonly></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" class="input-box" name="password" value="{{credentials.password}}"></td>
        </tr>
        </tbody>
    </table>
    <br><br>
    <button id="update" type="submit">Update</button>
</form>
</body>
</html>

